/** 
*   Created on : 9 déc. 2014
*   Author     : Mehdi MOALLA
**/
/**************** GENERATED FONTS *********************/
@font-face {
    font-family: 'latolight';
    src: url('fonts/Lato/lato-light-webfont.eot');
    src: url('fonts/Lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/lato-light-webfont.woff2') format('woff2'),
        url('fonts/Lato/lato-light-webfont.woff') format('woff'),
        url('fonts/Lato/lato-light-webfont.ttf') format('truetype'),
        url('fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo-Bold';
    src: url('fonts/Exo/Exo-Bold.eot?#iefix') format('embedded-opentype'),  
        url('fonts/Exo/Exo-Bold.otf')  format('opentype'),
        url('fonts/Exo/Exo-Bold.woff') format('woff'), 
        url('fonts/Exo/Exo-Bold.ttf')  format('truetype'), 
        url('fonts/Exo/Exo-Bold.svg#Exo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**************** DEFAULT RULES *********************/
*{box-sizing: border-box;}
body{
    font-family: 'latolight', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Exo-Bold', sans-serif;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #CFCFCF;
}
/**************** CLEARFIX *********************/
.clear{
    float: none;
    clear: both;
    margin: 0px;
    padding: 0px;
}

/**************** CLAIM HEADER DROPDOWN *********************/
.dropdown-claim{
    padding: 1px 15px;
    list-style: none;
}

/**************** NOTIFICATION *********************/
.notif li{text-align: center;}
.notif li a{padding: 10px;}

/**************** ALERT NOTIFICATION *********************/
.dci-alert{
    position: absolute;
    left: 5px;
    bottom: 50px;
    width: 300px;
    text-align: center;
}
/**************** COPYRIGHT *********************/
.dci-copyright{
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    color: #18BC9C;
    text-align: center;
    left: 85px;
}

/**************** HR *********************/
.dci-hr{
    background: url(../img/hr.png) repeat-x;
    height: 10px;
    width: 100%;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

/**************** BREADCRUPS *********************/
.dci-ici{
    position: relative;
    margin-top: -30px;
}

/**************** TODAY DATE *********************/
.dci-today{
    position: absolute;
    top: 0px;
    right: 1px;
    background: #43AC6A;
    display: block;
    padding: 8px 15px;
    color: #fff;
    border-radius: 0 3px 3px 0;
}

/**************** MENU BUTTON *********************/
.dci-menu-btn{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 60px;
    background: transparent;
}
.dci-menu-btn:after{
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    width: 32px;
    width: 32px;
    width: 2rem;
    height: 0;
    top: 15px;
    left: 15px;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}

/**************** SIDEBAR *********************/
.dci-sidebar{
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border: 1px solid #EEE;
    //transform: translateX(-330px);
}
.dci-sidebar > .nav > li{border-bottom: 1px solid #e7e7e7;}
.dci-sidebar > .nav > li > a{outline: none;}
/**************** MODAL ************************/
.dci-close{
    font-weight: normal;
    font-size: 30px;
    position: absolute;
    left: 450px;
}
/**************** PLANNING *********************/
.dci-months{
    text-align: center;
    margin-top: -30px;
}
.dci-months .month{
    display: inline-block;
    font-size: 1.5em;
}
.dci-months .month a{
    text-decoration: none;
    background: #e67e22;
    color: #fff;
}
.dci-table{
    width: 100%;
    margin-top: 10px;
}
.dci-table th{
    border: solid 1px #ddd;
    background: #eee;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.dci-table td{
    border: 1px solid #ddd;
}

.dci-table .day{
    min-height: 125px;
    min-width: 60px;
    position: relative;
}
.dci-table .day .number{
    float: right;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
}
.dci-table .content{
    font-size: 14px;
    padding-left: 5px;
    display: block;
    margin-bottom: 2px;
    border-radius: 0;
}
.dci-table .content a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.dci-table .detail{
    position: absolute;
    bottom: -3px;
    padding: 5px 10px;
    font-size: 17px;
}
/**************** FORM AUTHENTICATION VIEW *********************/
.dci-signin-heading{ 
    text-align: center;
    margin: 0;
    font-weight: bold;
}
.dci-home{
    max-width: 300px;
    padding: 100px 0;
    margin: 0 auto;
}
/**************** TIMELINE HOME VIEW *********************/
.dci-timeline{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.dci-timeline:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #ccc;
    left: 10%;
    margin-left: 0px;
}
.dci-timeline li{position: relative;}
.dci-timeline > li .dci-timeline-time{
    display: block;
    text-align: right;
    position: absolute;
}
.dci-timeline > li .dci-timeline-icon{
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #aaa;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #ccc;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 5px 0 0 -155px;
    padding-bottom: 3px;
    padding-right: 1px;
    padding-left: 2px;
    border-radius: 30px !important;
}
.dci-timeline > li .dci-timeline-body{
    margin: 0 0 15px 14%;
    color: #fff;
    padding: 10px;
    font-weight: 300;
    position: relative;
    background: #4b8df8;
    border-radius: 6px;
}
.dci-timeline > li .dci-timeline-body:after{
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 19px;
}
.dci-timeline > li .dci-timeline-body h2{
    margin-top: 0px;
    font-size: 24px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.dci-timeline > li .dci-timeline-body h2.dci-title-active{
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.dci-timeline > li .dci-timeline-body .dci-detail{
    position: absolute;
    right: 15px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
.dci-timeline > li .dci-timeline-body .dci-detail > a{
    color: #3594CB;
    outline: none;
    text-decoration: none;
}
.dci-timeline-time > li .dci-timeline-time span{text-align: right;}
.dci-timeline > li .dci-timeline-time span.dci-date{
    font-size: 20px;
    color: #aaa;
    display: block;
    font-weight: 300;
}
.dci-timeline > li .dci-timeline-time span.dci-time{
    font-weight: 300;
    font-size: 38px;
    line-height: 38px;
}
.dci-timeline > li .dci-timeline-body .dci-timeline-content{
    display: block;
}

/**************** DOCTEUR VIEW *********************/
.dci-docteur{
    float: left;
}
.dci-docteur-detail h4{
    display: inline-block;
    background: #ededed;
    line-height: 45px;
    border-radius: 10px;
}
.dci-docteur-detail p,
.dci-docteur-detail h4{
    margin-right: 20px;
    width: 530px;
}
.dci-docteur-detail .dci-docteur-icon img{
    max-width: 100%;
    height: auto;
    width: 50px;
}

/**************** FORM WIZARD VIEW *********************/
.tools{
    position: absolute;
    margin-top: -58px;
    right: 35px;
}
.tools a{
    font-size: 14px;
}
.dci-form-column{
    display: inline-block;
    margin-right: 50px;
    width: 390px;
}
.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}
.portlet > .portlet-title > .caption > i {
    float: left;
    margin-top: 4px;
    display: inline-block !important;
    font-size: 13px;
    margin-right: 5px;
    color: #666;
}
.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 10px;
}
.form-body {
    padding: 10px;
}
.rootwizard .steps {
    background-color: #fff;
    background-image: none;
    -webkit-filter: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.rootwizard .steps {
    padding: 10px 0;
}
.rootwizard .steps li a {
    background-color: #fff;
    background-image: none;
    -webkit-filter: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.rootwizard .active .step .number {
    background-color: #35aa47;
    color: #fff;
}
.rootwizard .done .step .number {
    background-color: #f2ae43;
    color: #fff;
}
.rootwizard .step .number {
    background-color: #eee;
    display: inline-block;
    text-align: center !important;
    font-size: 16px;
    font-weight: 300;
    padding: 11px 15px 13px 15px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
}
.rootwizard .active .step .desc {
    color: #333;
    font-weight: 400;
}
.rootwizard .step .desc {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}
.progress {
    border: 0;
    background-image: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    box-shadow: none !important;
}
.progress > .progress-bar-success {
    background-color: #3cc051;
}
.form-actions.fluid {
    padding: 20px 0;
}
.form-actions {
    padding: 20px 10px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}
.form-actions:before, .form-actions:after {
    display: table;
    line-height: 0;
    content: "";
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{background-color: transparent !important;}
.pager li>a, .pager li>span{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.facture{
    border: solid 1px #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 10px;
}
.facture-right{
    height: 40px;
    border-radius: 4px;
    position: relative;
    width: 365px;
    left: 847px;
    bottom: 143px;
}
#ressearch{
    position: relative;
    border: 2px solid #dce4ec;
    border-radius: 0px 0px 4px 4px;
    width: 300px;
    margin-left: 351px;
    margin-top: -12px;
    padding-top: 10px;
}
.my-new-list{
    padding: 0;
    text-align: center;
}
.my-new-list li{
    list-style: none;
}
.my-new-list li a{
    padding: 5px 0px;
    text-decoration: none;
    display: block;
}
.my-new-list li a:hover{
    background-color: #eeeeee;
}
.pager li .dci-btn-primary,
.pager li .dci-btn-danger{
    width: 150px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}
.pager li .dci-btn-primary:focus{background-color: #2c3e50;}
.pager li .dci-btn-danger:focus{background-color: #e74c3c;}
.pager li .dci-btn-primary:hover,
.pager li .dci-btn-danger:hover{
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: bold;
    border-color: #2c3e50;
    color: #2c3e50;
}
.pager li .dci-btn-danger{
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
}
.pager li .dci-btn-danger:hover{border-color: #e74c3c; color: #e74c3c;}
/**************** NOTIFICATION NUMBER *********************/
.notif-number{
    position: absolute;
    top: 10px;
    padding: 2px 5px;
    color: #fff;
    background-color: #F22613;
    font-size: 13px;
    line-height: 1;
    border-radius: 10px;
    font-weight: bold;
}
.notif-menu a{
    text-decoration: none;
    display: block;
}
.notif-menu a:hover{
    color: #ffffff;
    background-color: #2c3e50;
}

/**************** MEDICAMENT *********************/
.dci-drug{
    display: none;
    width: 443px;
}

/**************** LIST PATIENT *********************/
.dci-group-item{
    margin-bottom: 10px; 
    padding: 10px 0;
    margin-bottom: -1px; 
    background-color: #ffffff; 
    border: 1px solid #ecf0f1; 
}
.dci-group-item:first-child{
    border-top-right-radius: 4px; 
    border-top-left-radius: 4px; 
}

/**************** ALERT STOCK ********************/
.stock-animated{
    border: solid 2px #e74c3c;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 3px;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 0.3s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
}

/**************** OVERRIDE BOOTSTRAP RULES *********************/
.btn{
    border: 2px solid transparent;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: bold;
}
.btn-success:hover{
    color: #18bc9c;
    border-color: #18bc9c;
}
.btn-info:hover{
    color: #3498db;
    border-color: #3498db;
}
.btn-default:hover{
    color: #798d8f;
    border-color: #798d8f;
}
.btn-warning:hover{
    color: #f39c12;
    border-color: #f39c12;
}
.btn-danger:hover{
    color: #e74c3c;
    border-color: #e74c3c;
}
.btn-primary:hover{
    border-color: #2c3e50;
    color: #2c3e50;
}
.label{border: solid 2px transparent;}
.label-default[href]:hover,
.label-default[href]:focus{
    color: #e67e22;
    background-color: transparent;
    border-color: #e67e22;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s
}
table > thead > tr > th,
table > tbody > tr > td{
    text-align: center;
}

/**************** ERROR PAGE *********************/
.dci-404{
    margin-top: 100px;
    text-align: center;
}
.dci-404 .number{
    position: relative;
    top: 35px;
    display: inline-block;
    letter-spacing: -10px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #7bbbd6;
    text-align: right;
}

/**************** Recherche *********************/
.dci-search {
    list-style: none;
    padding: 0;
}
.dci-search li{
    text-align: center;
    font-size: 20px;
}
.dci-search li a{ 
    text-decoration: none; 
    display: block;
    padding: 10px;
}
.dci-search li a:hover{ 
    color: #000;
    background-color: #f5f5f5; 
}

.dci-search li a img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin-right: 20px;
}

/**************** Stat nombre de patient admis *********************/
.statpatient{
    background-color: #3498db;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    //padding-bottom: 20px;
}
.statpatient .statpt-visual{
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.statpatient .statpt-visual > i{
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
    color: #fff;
    opacity: 0.3;
}
.statpatient .statpt-detail{
    position: absolute;
    right: 15px;
    padding-right: 15px;
    color: #fff;
    padding-top: 0px;
    text-align: right;
}
.statpatient .statpt-detail .nombre{
    font-size: 60px;
    position: relative;
    right: 40px;
    top: -5px;
}
.statpatient .statpt-detail .text{
    font-size: 20px;
    position: relative;
    top: -25px;
}

/**************** Liste User connecter *********************/
.statctx{
    list-style-type: none;
    padding: 0;
}